.navBar{
    background: linear-gradient(180deg, rgba(0,0,0,0.4544527283569678) 97%, rgba(0,0,0,0) 100%);  
    position: relative;
}
.container {
    display: flex;
    margin-top: 20px;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.container > .container_marco{
    display: inline-block;
    border: 2px solid white;
    align-content: center;
    padding: 25px;
    width: 75%;
    height: auto;
    padding-top: 5px;
    background-color: #647332;
    border-radius: 15px 50px 30px;
    box-shadow: 5px 0px 12px 0px;
}
#h1{
    color: aliceblue;
}

.form{
    background-color: #f77f00; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    border-radius: 20px;
}

#grid_div{
    /* border: 2px solid black; */
    padding: 10px;
    /* margin: 10px 10px; */
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: repeat(3, auto);
    /* grid-template-columns: repeat(3, 400px); */
    grid-template-rows: repeat(2, auto);
}

#grid_campos{
    display: grid;
    grid-gap: 20px 20px;
    /* grid-template-columns: 35rem 40rem; */
    grid-template-rows: auto auto;
}

#div_container{
    display: flex;
    flex-direction:column;
    /* border: 2px solid black; */
}

#label{
    display: flex;
    justify-content: center;
    font-size: large;
    color: #000000;
    font-weight: bold;
}

#input{
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
} 

.diets_list {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 5px 5px;
    margin-top: 10px ;
    display: grid;
    grid-gap: 10px 15px;
    grid-template-columns: repeat(5, auto);
    /* grid-template-rows: repeat(3, 22px); */
    grid-template-rows: repeat(3, auto);
}
#label_check{
   font-size: 20px;
}

.danger{
    display: flex;
    color: #d00000;
    font-weight: bold;
    justify-content: center;
}
#button_div{
    display: flex;
    justify-content: center;
}

#button_submit{
    position: relative;
    display: flex;
    border-radius: 5px;
    height: 35px;
    font-weight:  bold;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-top: 45px; 
    margin-bottom: 15px;
    background-color: #fff;
}

#button_submit:hover{
    background-color: #a3601dbb;
    color: #ffffff;
    cursor:pointer
}

#Link_button{
    text-decoration: none;
    display: inline-flex;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#button_back{
    font-size: smaller;
    height: 25px;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px;
    margin: 5px 3px;
    
}

#button_back:hover{
    color: black;
    background-color: #ffffff;
    transition: .5;
}

#img{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

#gradient{
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.5879726890756303) 0%, rgba(0,0,0,0.7336309523809523) 100%);
    position:fixed;
    z-index: -1;
}