.cardsHome{
    display: grid;
    height: auto;
    min-height: 100%;
    /* min-height: 100vh; */
    grid-gap: 20px 20px;
    grid-template-columns: repeat(3, 300px);
    /* grid-template-rows: repeat(3, 450px); */
    grid-template-rows: repeat(3, auto);
    position: relative;
    justify-content:center;
}
.header{
    display: inline;
}

.filters{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    background: linear-gradient(180deg, rgba(0,0,0,0.4544527283569678) 97%, rgba(0,0,0,0) 100%);
}


#title_recipe{
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-family: 'Noto Serif Display', serif;
    margin-top: 20px;
    margin-left: 10%;
    font-size: 60px;
    background-color: #8a4926;
    border-radius: 35px;
    padding: 15px;
}

#img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position:fixed;
    z-index: -1;
}

#gradient{
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.5879726890756303) 0%, rgba(0,0,0,0.7336309523809523) 100%);
    position:fixed;
    z-index: -1;
}

#msg_sinRecetas{
    color: white;
    text-align: center;
    font-size: 30px;
}

#button_notfoundRecipeBack{
    font-size: smaller;
    height: 25px;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px;
    position: relative;
    margin-left: 45%;
}
#button_notfoundRecipeBack:hover{
    color: black;
    background-color: #ffffff;
    transition: .5;
}