
.navBar{
    background: linear-gradient(180deg, rgba(0,0,0,0.4544527283569678) 97%, rgba(0,0,0,0) 100%);     
    position: relative;
}

#container{
    display: flex;
    justify-content: center;
    margin: 20px;
    height: auto;
}

#table_detail{
    display: inline;
    background-color: #7f4f24CC;
    height: 80%;
    width: 80%;
    border-radius: 20px;
    color: #ffffff;
    box-shadow: 5px 0px 12px 0px #000000;
}

#Link_button{
    text-decoration: none;
    display: inline-flex;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#button_back{
    font-size: smaller;
    height: 25px;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px;
    margin: 5px 3px;
}

#button_back:hover{
    color: black;
    background-color: #ffffff;
    transition: .5;
}


#img_back{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

#img_recipe{
    position: static;
    height: 200px;
    width: 300px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 10px 50px 30px;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
}

#titulado{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin: 15px 84px;
    
}

#name{
    position: relative;
    display: inline;
    font-size: 40px;
    font-weight: bold;
    padding: 10px 0;
    
}

#readyInMinutes{
    position: relative;
    display: inline;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 0;
}

#healthy{
    position: relative;
    display: inline;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 0;
}

#score{
    position: relative;
    display: inline;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 0;
}

.summary_div{
    width: 85%;
    height: auto;
    margin: 0px auto;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 2px solid white;
    background-color: #582f0e;
    border-radius: 50px;
    padding: 20px;
}

.summary_div > #summary{
    width: 85%;
    margin: 0 auto;
}

#diets_RecipeDetail{
    display: flex;
    border: 2px solid white;
    background-color: #936639;
    color: #ffffff;
    flex-direction: column;
    border-radius: 50px;
    /* padding: 10px; */
    width: 90%;
    align-items: center;
    margin: 30px auto;
    /* margin-top: 20px; */
    padding-bottom: 20px;
}
#diets_RecipeDetail > p{
    margin-left: 10px;
    font-size: 20px;
    display: inline;
    padding-left: 5px;
    
}
#diets_RecipeDetail > hr{
    width: 90%;
}

#elements_diet_dish{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

#elements_diet_dish > li{
    padding: 0 20px;
}
    
#grid_Present{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr;
    /* grid-template-rows: 250px; */
    grid-template-rows: auto;
    /* border: 2px solid white; */
    /* background-color: #582f0e; */
    /* border-radius: 50px; */
}

.steps_div{
    width: 85%;
    height: auto;
    margin: 0px auto;
    color: #ffffff;
    margin-top: 20px;
}

.steps_div > #steps{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.cargando_msg{
    position: relative;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

#msg_recipeNotFound{
    position: relative;
    color: #ffffff;
    font-size: 35px;
    text-align: center;
}
