.allFilters{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    align-items: center;
}

.allFilters > p{
    color: white;
    margin-right: -15px;
}

.score{
    height: 20px;
    display: flex;
    flex-direction: row;
    margin: 0px 20px;
    background-color: #936639;
    color: #ffffff;
    border-radius: 5px;
}

.alphabetical{
    height: 20px;
    display: flex;
    flex-direction: row;
    margin: 0px 20px;
    background-color: #936639;
    color: #ffffff;
    border-radius: 5px;
}


#button{
    font-size: smaller;
    height: 25px;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px;
    margin: 5px 3px;
}
#button:hover{
    color: black;
    background-color: #ffffff;
    transition: .5;
}