.container{
    position: relative;
    display: inline; 
}

#label{
    color: #ffffff;
    margin: 0 2px;
    font-size: 18px;
}

#inpName{
    border-radius: 7px;
    font-size: 15px;
    background-color: #936639;
    color: #ffffff;
}
#inpName::placeholder{
    color: #ffffff;
}

#button_submit{
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px;
    margin: 0 6px;
    height: 25px;
    font-size: smaller;
}
#button_submit:hover{
    color: black;
    background-color: #ffffff;
    transition: .5;
}